/* Variables */
$primary-color: #0f2230
$accent-color: #4ac5d2
$font-stack: 'Arial', sans-serif
$font-color: #c2cccf


/* Importación de iconos de Prime */
@import "primeicons/primeicons.css"

/* Estilo global */
body 
    min-height: 100vh !important
    background-repeat: no-repeat
    background-color: #0f2230