<div class="menu">
    <div class="logo">
        <a href="/inicio"><img src="/images/logo/logo_labxpress.png" alt="LabXpress Logo"></a>
      </div>
    <nav class="navbar">
        <button class="hamburger" (click)="toggleMenu()">
          <span *ngIf="!menuOpen">☰</span>
          <span *ngIf="menuOpen">✖</span> 
        </button>
        <ul class="nav-links" [class.open]="menuOpen">
          <li><a href="/inicio">Inici</a></li>
          <li><a href="/acerca">Acerca de</a></li>
          <li><a href="/servicios">Servicis</a></li>
          <li><a href="/contacto">Contacte</a></li>
          <!-- <li><a href="/nuestra-app">Nostra App</a></li> -->
        </ul>
    </nav>
</div>